body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 600px;
	margin: 0 auto;
}

label {
	display: block;
}

h1 {
	font-size: 40px;
}

input {
	margin-bottom: 10px;
}

h2 {
	font-size: 30px;
	line-height: 45px; 
}

#dashboard {
	background-color: #EBEADF;
}

#shield {
	width: 50px;
	margin-top: 5px;
	padding-right: 10px;
	float: left;
	clear: both;
}

.header {

	clear: both;
}
